@charset "UTF-8";

body{
    background-image:linear-gradient(90deg,#099797,#04BFAD,#04BF9D);
}
main{
    background-color: #5FCDD9;
    min-width: 260px;
    max-width: 800px;
    box-shadow: 5px 5px 15px #000000;
    padding: 10px;
    margin: auto;
    border-radius:10px;
}
h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 63, 63);
    text-align: center;
    box-shadow: rgb(2, 39, 39);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 32, 32);
    text-align: justify;
}